body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./imagens/istockphoto-1124506281-640x640.jpg'); /* Substitua 'stars.png' pela URL da imagem das estrelas */
    animation: starsAnimation 10s linear infinite;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

@keyframes starsAnimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000px 1000px; /* Ajuste isso para controlar a velocidade do movimento das estrelas */
    }
}