
 /* Estilo para o elemento canvas */
canvas {
    background-color: black;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.navePrincipal {
    width: auto;
    height: auto;
    position: absolute;
    top: 90%; /*altura vertical*/
    left: 50%; /*posição horizontal (meio)*/
    transform: translate(-50%, -50%); /*deixa a nave centralizada*/
}
.tiro {
    width: 9px;
    height: 54px;
    position: absolute;
    background-image: url(./imagens/lasers/laserPadraov2.png);

}
.naveInimigaPadrao {
    width: 150px;
    height: 120px;
    position: absolute;
}
.meteoro {
    width: 150px;
    height: 100px;
    position: absolute;
    background-image: url(./imagens/naveInimigaPadrao.PNG);
}
.naveInimigaPreto {
    width: 150px;
    height: 100px;
    position: absolute;
    background-image: url(./imagens/naveInimigaPreto.PNG);
}
.miniBoss {
    width: 348px;
    height: 279px;
    position: absolute;
    background-image: url(./imagens/naveInimigaVermelhaGrande.PNG);
}
#explosao {
    background: url(./imagens/explosao.gif);
    width: 157px;
    height: 229px;
    position: absolute;
}
.vidaPlaneta {
    color: white;
    position: absolute;
    top: 8%;
}
#quantVida {
    color: white;
    position: absolute;
    left: 5%;
    top: 8%;
}
.texto-pont{
    color: white;
    position: absolute;
}
#pontuacao {
    color: white;
    position: absolute;
    left: 9%;
}
html {
    height: 100%;
    width: 100%;
    position: fixed;
}