*{ 
    margin:  0;
    padding: 0; 
}
body{
    background: url(/fundo.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
/*--------------------------------------------------------------------------------*/
.logo_botao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 32px;
}

.botao{
    color: rgb(255, 255, 255);
    font-family: 'soloist';
    font-size: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: transparent;
    border: none;
}

.botao:hover {
    transform: scale(1.1); 
}

